* {
    font-family: ‘Abel’, sans-serif;
    font-family: ‘Anton’, sans-serif;
    background: blue;
}

.rounded-circle {
    border: solid 2px black;
    padding: 10em;
    list-style: none;
}

.container-fluid {
    float: right;
}

#stripe {
    position: absolute;
    height: 80px;
    background: white;
    z-index: 1000;
    top: 50px;
    width: 100%;
}
